:root {
    --font-color: #1a2e3d;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-section-container {
    /* display: grid; */
    height: 100vh;
    width: 100vh;
    display: flex;
    margin: auto;
}
.landingSection{
    border: 1px solid;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    border-radius: 10px;
}
.leftSection{
    margin-left: 20px;
}
.rightSection{
margin-left: 40px;
margin-top: 100px;


}
.btnDiv{
    /* justify-content: space-between; */
}
.buttonFlexDiv{
    /* margin-bottom: 15px; */
    background-color: #d7e1e9;
    margin-right: 20px;
    width: 250px;
    display: flex;
    margin-bottom: 20px;
    border-radius: 5px;
}
.buttonFlexDiv,.icon, p{
    padding: 7px;
    /* align-items: center; */
}
.buttonFlexDiv p{
    align-items: center;
    margin-top: 10px;
    font-size: 12px;
}

/* .landing-section {
    min-width: 0vw;
    display: flex;
    place-items: center;
    justify-content: space-between;
    padding: 30px;
    gap: 10px;
    border: 1px solid lightslategray;
    border-radius: 10px;
} */

/* .left-landing-section {
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: 10px;
    width: 30vw;
} */

.landing-section p {
    font-size: 12px;
}


.head-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.head-div #rating-div {
    background-color: rgba(0, 178, 139, 0.1);
    border-radius: 20px;
    padding: 4px 15px;
    color: rgb(0, 178, 139);
    font-weight: bold;
}
.icon small-icon {
    position: absolute;
    width: 40px;
    height: 15px;
}

.address-div {
    display: flex;
    gap: 10px;
    color: var(--font-color);
}

.address-div .icon {
    width: 100px;
}
icon1{
    
}

.main-img-div {
    width: 30vw;
}

.main-img-div img {
    width: 100%;
}

.main-img-slider-div {
    width: 8vw;
}

.slider {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-left: -20px;
    /* position: relative; */
}

.slider .slider-content {
    min-width: 10vw;
    display: flex;
    gap: 15px;
}


.slider img {
    width: 100%;
}

#description {
    color: #1a2e3d;
    width: 90%;
}

.bottom-div p {
    font-weight: bold;
}





/* /RIGHT */

.right-landing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.btn-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

/* 
.button-flex-div {
    width: 80%/;
    display: flex;
    background-color: rgba(0, 178, 139, 0.1);
    padding: 10px;
    font-weight: bold;
} */

/* .button-flex-div:nth-child(1) div {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    padding: 4px;
}

.button-flex-div:nth-child(1) div p:nth-child(2) {
    margin-top: -10px;
} */


.btn-nav{
    width: 6rem;
    margin: 3px;
    border-radius: 5px;
    background-color: rgb(193, 193, 235);
    padding:8px;
    font-weight: bold;
    transition: all .4s ease-in;
    cursor: pointer;
}

.btn-nav:active{
    background-color: green;
    color: #fff;
}

@media(max-width: 1300px) {

    .landing-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}